<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="testBean"
        class="example.bean.TestBean"
        scope="singleton"
        init-method="beanInitMethod"
        destroy-method="beanDestroyMethod">
    <property name="name" value="linianhui"/>
  </bean>

  <bean id="testBeanClassLoaderAware" class="example.bean.TestBeanClassLoaderAware"/>
  <bean id="testBeanFactoryAware" class="example.bean.TestBeanFactoryAware"/>
  <bean id="testInitializingBean" class="example.bean.TestInitializingBean"/>
  <bean id="testBeanNameAware" class="example.bean.TestBeanNameAware"/>
  <bean id="testDisposableBean" class="example.bean.TestDisposableBean"/>
  <bean id="testBeanPostProcessor" class="example.bean.TestBeanPostProcessor"/>
  <bean id="testInstantiationAwareBeanPostProcessor" class="example.bean.TestInstantiationAwareBeanPostProcessor"/>
  <bean id="testBeanFactoryPostProcessor" class="example.bean.TestBeanFactoryPostProcessor"/>

</beans>
